html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


/*
  background image: https://picsum.photos/1200/300
  primary color: hsla(160, 50%, 50%, 1);
  primary: #40bf95;
  dark: #003322;
  semi-transparent: #40bf9599;
*/

/* 03 */
body {
  margin: 0; /* bonus 02 */
  max-width: 40rem;
  margin: auto;
} 
/* konec 03 */

/* 02 */
nav {
  text-align: center;
}

nav li {
  display: inline;
}

nav a {
  padding: 1rem;
  background-color: #40bf9599;
}

header {
  width: 100%;
  min-height: 300px;
  padding: 2rem 4rem;
  background-image: url('https://picsum.photos/1200/300');
  background-size: cover;
}

h1 {
  font-size: 3rem;
  text-align: center;
}
/* konec 02 */

/* 03 */
main {
  padding: 1rem;
  background-color: #40bf9599;
}

section {
  padding: 1rem;
  background-color: #40bf95;
  border-bottom: 1px dotted #003322;
  margin-left: -1rem; /* bonus 03 */
  margin-right: -1rem; /* bonus 03 */
}

/*konec 03 */

main img {
  max-width: 100%; /* aby nepřetékal přes pravý okraj stránky */
  height: auto; /* zachovej poměr stran */
}